<div class="container">
	<nav class="navegacion">
	  <img src="../assets/images/logo3.jpg" alt="Logo" class="navegacion__logo">
	  <span>Plural Café</span>
	
	  <ul class="navegacion-menu">
		<li><a routerLink="/home">HOME</a></li>
	  </ul>
	</nav>
	<hr class="menu-divider">
	</div>

<div class="container">
  <br>
  <br>
<h1>¡Explore nuestros cursos y descubra todo lo que tenemos para ofrecer!</h1>
<section>

  <div class="card-cursos">

  <div class="card1">
    <img src="../../../assets/images/cata.avif"alt="Imagen del curso" class="card-imagen">
    <div class="card-content">
      <h2 class="card-title">Cultivo del Café</h2>
      <hr class="card-line">
      <p class="card-description">El Curso Cultivo de Café está diseñado para brindar a los participantes los conocimientos fundamentales y las técnicas prácticas necesarias para cultivar café de calidad. El curso se enfoca en los aspectos teóricos y prácticos del cultivo de café.</p>
      <a href="#" class="card-button">Inscríbete ahora</a>
    </div>
  </div>

  <div class="card1">
    <img src="../../../assets/images/catacion.jpg"alt="Imagen del curso" class="card-imagen">
    <div class="card-content">
      <h2 class="card-title">Curso de catación de café</h2>
      <hr class="card-line">
      <p class="card-description"> Acompañanos en esta experiencia fascinante que te permitirá explorar y apreciar las sutilezas y complejidades de esta bebida,
        aprenderas a evaluar y apreciar las características sensoriales del café como aroma, sabor y acidez </p>
      <a href="#" class="card-button">Inscríbete ahora</a>
    </div>
  </div>

  <div class="card1">
    <img src="../../../assets/images/cafe-expresso.avif"alt="Imagen del curso" class="card-imagen">
    <div class="card-content">
      <h2 class="card-title">Curso de Preparación de Espresso</h2>
      <hr class="card-line">
      <p class="card-description">En este curso aprenderás a preparar el espresso perfecto. Desde la molienda hasta la extracción, ¡conviértete en un barista experto y sorprende a tus amigos y familiares con tus habilidades!</p>
      <a href="#" class="card-button">Inscríbete ahora</a>
    </div>
  </div>

  <div class="card1">
    <img src="../../../assets/images/cafe-integral.jpg"alt="Imagen del curso" class="card-imagen">
    <div class="card-content">
      <h2 class="card-title">Curso Integral de Café</h2>
      <hr class="card-line">
      <p class="card-description">Es un programa diseñado para brindar a los participantes un conocimiento profundo y práctico sobre  del café. Desde el cultivo y la cosecha hasta el tostado, la preparación y la degustación.</p>
      <a href="#" class="card-button">Inscríbete ahora</a>
    </div>
  </div>

  <div class="card1">
    <img src="../../../assets/images/late-arte.avif"alt="Imagen del curso" class="card-imagen">
    <div class="card-content">
      <h2 class="card-title">Curso de Latte Art</h2>
      <hr class="card-line">
      <p class="card-description">En este curso aprenderás a crear hermosas obras de arte en tus tazas de café. Desde corazones hasta cisnes, ¡sorprende a tus amigos y familiares con tus habilidades de Latte Art!</p>
      <a href="#" class="card-button">Inscríbete ahora</a>
    </div>
  </div>

  <div class="card1">
    <img  src="../../../assets/images/cupping.jpg"alt="Imagen del curso" class="card-imagen">
    <div class="card-content">
      <h2 class="card-title">Curso de Cupping</h2>
      <hr class="card-line">
      <p class="card-description"> En este curso aprenderás a degustar y evaluar diferentes tipos de café. Desde el aroma hasta el sabor, ¡conviértete en un experto en Cupping y sorprende a tus amigos y familiares con tus habilidades!</p>
      <a href="#" class="card-button">Inscríbete ahora</a>
    </div>
  </div>

</div>
</section>
</div>
