@import '../../app.component.scss';
@import '/src/styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


//container gral
.container {
  margin: auto;
  max-width: 960px;
  padding: 20px 5px;
  margin-top: -5px;
}

h1 {
  font-size: 30px;
  //margin-top: 40px;
  text-align: center;
}

.card-cursos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 33px;
  margin-top: 50px;
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
 }

  .card1 {
    width: 300px;
    border-radius: 10px;
    border-color: #ffffff;
    //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
  }

  .card-imagen {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    height: 250px;
  }

  .card-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-content {
    padding: 20px;
    color: $black;
    background: $white;
  }

  .card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .card-line {
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }

  .card-description {
    font-size: 14px;
    color: $black;
    margin-bottom: 15px;
  }

  .card-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4a4a4a;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .card-button:hover {
    background-color: $naranja;
  }

  .card-cursos .card1:not(.highlight) {
    cursor: pointer;
  }

  .card-cursos .card1:not(.highlight):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-cursos .card1:not(.highlight):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }
