@import '../../app.component.scss';
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


.container {
  margin: auto;
  max-width: 960px;
  padding: 20px 5px;
  margin-top: -20px;
}
.navegacion{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color:$white ;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);


    span {
      margin-left: 20px;
      font-family: 'Audiowide', cursive;
      font-size: 20px;
      color: $marron-ocuro;
    }

      ul {
          flex: 1;
          margin-inline-start: 15px;
          list-style: none;
          display: flex;
          justify-content: flex-end;
          margin-top: 15px;
          li{
              padding: 10px;
              margin-top: 12px;
                  a {
                      color: #01031e;
                      text-decoration: none;
                      padding: 2px;
                      transition: color 0.3s;
                          &:hover {
                              border-bottom: 2px solid $terciario-color;
                              color: $terciario-color;
                          }
                      }
                  }
          }

          &__logo{
              padding: 10px;
              width: 60px;
              &:hover {
                  transform: scale(1.2);
                }
          }
}

.menu-divider {
  border: none;
  margin-top: 70px;
  margin-bottom: 0px;
}

.inicio-sesion{
  margin-top: -19px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color:#835C3B;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}


.container {
  margin: auto;
  max-width: 960px;
  padding: 20px 5px;
  margin-top: -5px;
}

.portada {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 160%;
  max-width: 1140px;
 // height: 400px;
  background:url("../../../assets/images/portada.png") no-repeat center/cover;
  padding: 20px;
  margin-top: -19px;
  margin-left: -80px;
}
.portada h1 {
  font-size: 34px;
  margin-bottom: 12px;
  margin-top: 200px;
  color: #fff;
  font-family: 'Audiowide', cursive;

}
.portada .button {
  background-color: rgb(188, 139, 50);
  color: #fff;
  font-size: 18px;
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
}
.portada .button:hover {
  background-color: $naranja;
}

.tarjeta{
  max-width: 1200px;
  margin-left: -100px;
  padding: 2rem;
}

.noticia {
  display: grid;
  grid-template-columns: 1fr 2fr;
  //grid-gap: 1rem;
  padding: 14px;
  margin-bottom: 3rem;
  margin-left: -82px;
  margin-top: 50px;
  width: 160%;
  max-width: 1140px;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.2);
}
.noticia__img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.25rem;
  width: 80%;
}
.noticia__contenido {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;

}
.noticia__contenido h2 {
  color: #4a4a4a;
  margin: 0;
}
.noticia__contenido p {
  margin-top: 10px;
  margin-bottom: 34px;
  color: #4a4a4a;
  font-size: 15px;
}
.noticia__contenido a {
  background-color: rgb(188, 139, 50);
  color: #fff;
  padding: 8px 1rem;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s;
}
.noticia__contenido a:hover {
  background-color: $naranja;
}

.categorias {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  margin-left: -59px;
  margin-right: -96px;
}

.seccion {
  position: relative;
  overflow: hidden;
  height: 250px;
}
.seccion img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s;
}
.seccion img:hover {
  transform: scale(1.1);
}
.seccion .seccion__titulo {
  position: absolute;
  bottom: -50%;
  left: 0;
  right: 0;
  height: 40%;
  background-color: rgba(236, 206, 178, 0.8);
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s, bottom 0.5s;
  align-items: center;
  display: flex;
  justify-content: center;
}
.seccion .seccion__titulo h3 {
  margin: 0;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  color: #4a4a4a;
}
.seccion:hover .seccion__titulo {
  opacity: 1;
  bottom: 0;
}
