  <div class="container">
    <div class="column">
      <h2>Nuestro apasionante viaje por el mundo del café.</h2>
      <p>Somos Plural Café y hemos decidido compartir nuestro amor y conocimiento por esta maravillosa bebida con todos aquellos que deseen aprender y disfrutar de su magia.

        Nuestra historia comenzó hace años, cuando un grupo de amantes del café se unió con el objetivo de transmitir la riqueza y complejidad que rodea a esta pequeña semilla. Nos embarcamos en un viaje por las regiones cafetaleras, explorando las plantaciones y aprendiendo de los agricultores locales sobre el cuidado de las plantas, las técnicas de cosecha y los desafíos que enfrentan en su trabajo diario.
        <br><br>
        A medida que profundizamos en el mundo del café, nos dimos cuenta de que compartir nuestro conocimiento era fundamental para preservar la cultura y la tradición cafetera, así como para fomentar la apreciación de esta bebida en constante evolución. Decidimos entonces crear una plataforma donde todos pudieran acceder a información confiable, recursos educativos y experiencias prácticas.
      </p>
       <p>
        Nos emociona ver cómo nuestra comunidad crece día a día, y nos comprometemos a seguir brindando recursos educativos de calidad, experiencias memorables y oportunidades de conexión para todos los amantes del café.

        Únete a nosotros en este apasionante viaje por el mundo del café. Juntos, construiremos una comunidad grande y diversa, llena de conocimiento, pasión y camaradería. ¡Te damos la bienvenida a nuestra familia cafetera!</p>
    </div>
    <div class="column">
      <img src="../../../assets/images/persona-1.jpg"  alt="Imagen">
    </div>
  </div>
