@import '../../app.component.scss';
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


.container-menu {
  margin: auto;
  max-width: 960px;
  padding: 20px 5px;
  margin-top: -20px;
}
.navegacion{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color:$white ;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);


    span {
      margin-left: 20px;
      font-family: 'Audiowide', cursive;
      font-size: 20px;
      color: $marron-ocuro;
    }

      ul {
          flex: 1;
          margin-inline-start: 15px;
          list-style: none;
          display: flex;
          justify-content: flex-end;
          margin-top: 15px;
          li{
              padding: 10px;
              margin-top: 12px;
                  a {
                      color: #01031e;
                      text-decoration: none;
                      padding: 2px;
                      transition: color 0.3s;
                          &:hover {
                              border-bottom: 2px solid $terciario-color;
                              color: $terciario-color;
                          }
                      }
                  }
          }

          &__logo{
              padding: 10px;
              width: 60px;
              &:hover {
                  transform: scale(1.2);
                }
          }
}

.menu-divider {
  border: none;
  margin-top: 70px;
  margin-bottom: 0px;
}

.inicio-sesion{
  margin-top: -19px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color:#835C3B;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

/* Importación de fuentes de google fonts */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);


body{
	height: 100%;
	font-family: 'Noto Sans', sans-serif;
  background-color: #ab4493;
}


.contact_form{
	width: 460px;
  height: auto;
  margin: 10px auto;
	border-radius: 10px;
	//padding-top: 20px;
	padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
}


input{
	background-color: #fbfbfb;
	width: 408px;
	height: 40px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #e89f31;
	margin-top: 15px;
	padding-left: 10px;
  //margin-bottom: 20px;
}


textarea{
  background-color: #fbfbfb;
	width: 405px;
	height: 150px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #e89f31;
	margin-top: 10px;
	padding-left: 10px;
  //margin-bottom: 20px;
  padding-top: 15px;
}


label{
  display: block;
	float: center;
}


button{
	height: 45px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 20px;
	margin-top: 5px;
	text-transform: uppercase;
	background-color: #e89f31;
	border-color: #e89f31;
	border-style: solid;
	border-radius: 10px;
	width: 420px;
  cursor: pointer;
}


button p{
	color: #fff;
}


span{
	color: #000000;
}


.aviso{
	font-size: 13px;
	color: #0e0e0e;
}


h1{
	font-size: 30px;
	text-align: center;
	//padding-bottom: 10px;
	color: #000000;
}


h3{
	font-size: 16px;
  text-align: center;
	padding-bottom: 2px;
	color: #0e0e0e;
}


p{
	font-size: 14px;
	color: #0e0e0e;
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
	outline:0;
	border: 1px solid #97d848;
}


.formulario textarea:focus{
	outline:0;
	border: 1px solid #97d848;
}



