<div *ngIf="cartItems.length < 1">
    <div class="alert alert-info text-center">
        <h4>Tú carrito esta vacio</h4>
    </div>

</div>
    <div class="alert alert-info text-center">
        <h4>Tú Carrito </h4>
    </div>

<div *ngIf="cartItems.length > 0">
    <div class="tetx-center">
        <ul class="list-group">
            <li class="list-group-item"  *ngFor="let item of cartItems; index as i">
                <div class="row">
                    <div class="col-md-10">
                        <app-cart-item [cartItem]="item"></app-cart-item>
                    </div>
                    <div class="col-md-2">
                        <i class="far fa-trash-alt fa-2x" (click)="deleteItem(i)"></i>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    
    <div class="alert alert-warning text-center">
        <strong>Total: </strong> {{total}} $
    </div>

    <button class="btn btn-outline-danger btn-block me-md-3" (click)="emptyCart()">
        <i class="fas fa-ban ">Vaciar carrito </i>
    </button>

    <button class="btn btn-outline-success btn-block" (click)="callApi()">
        <i class="fas ">Comprar</i>
    </button>
</div>