<div class="container">


    <div *ngIf="!loading" class="card">
      <img src="../../../assets/images/logo3.jpg" alt="Academia">
      <h1>Recuperar Plural Café</h1>
    <form [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()">
      <label for="email">Correo Electrónico:</label>
      <input type="email" placeholder="Correo electrónico" formControlName="correo">
      <span *ngIf="recuperarUsuario.get('correo')?.hasError('required') && recuperarUsuario.get('correo')?.touched" class="alert" style="color: brown;">
        El <strong>correo</strong> es obligatorio
      </span>
      
      <input type="submit" id="registro" value="Recuperar" class="btn" [disabled]="recuperarUsuario.invalid">
      <a routerLink="login">Volver</a>
    </form>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
    </div>
