<div class="container">
	<nav class="navegacion">
      <a routerLink="/home"><img src="../assets/images/logo3.jpg" alt="Logo" class="navegacion__logo"></a>
	  <span>Plural Café</span>
      
	</nav>
</div>


<h1>¡Explore nuestros cursos y descubra todo lo que tenemos para ofrecer!</h1>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <app-product-list></app-product-list>
        </div>
        <div class="col-md-4">
            <app-cart></app-cart>
        </div>
    </div>
</div>
